:root {
    /* 메인 컬러 */
    --primary-color: #5a76a9;
    --secondary-color: #809bc4;
    --accent-color: #c1d3f5;
    
    /* 텍스트 색상 */
    --text-primary: #ffffff;
    --text-secondary: #e0e0e0;
    --text-black: #111;
    
    /* 버튼 및 UI 요소 */
    --button-bg: #ffffff;
    --button-text: var(--primary-color);
    --button-border: var(--accent-color);
    --button-hover-bg: var(--primary-color);
    --button-hover-text: var(--text-primary);

    /* 배경 */
    --background-gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color));

    /* 폰트 */
    --font-size-lg: 50px;
    --font-size-md: 18px;
    --font-size-sm: 14px;
    --border-radius: 30px;
    --box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
