.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formWrapper {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.formTitle {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 20px;
}

.inputField {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}

.submitButton {
  width: 100%;
  padding: 12px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #333;
}
