.sidebar {
    width: 320px;
    height: 100vh;
    background-color: #f4f0ff;
    padding: 20px;
    overflow-y: auto;
    border-right: 2px solid #ccc;
}

.applicantCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    min-width: 90px;
    overflow: hidden;
}

.leftSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.titleBox {
    margin-bottom: 5px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-right: 10px;
}

.gender {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    margin-bottom: 0;
}

.info {
    font-size: 14px;
    color: gray;
    margin: 5px 0;
    white-space: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.viewButton {
    background-color: #6A5ACD;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
    font-weight: bold;
    width: 80px;
}

.noApplicants {
    text-align: center;
    color: gray;
    font-size: 16px;
    margin-top: 20px;
}
