.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #bbb;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .rightSection {
    display: flex;
    gap: 10px;
  }
  
  .mainButton {
    background: #5b5b5b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .mainButton:hover {
    background: #333;
  }
  